name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      reason:
        description: '手动触发原因'
        required: true

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4

    - name: Update apt
      run: sudo apt update

    - name: Install aria2
      run: sudo apt install aria2 -y

    - name: Install LLVM
      run: sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"

    - name: Set up Android NDK r23b
      run: | 
        mkdir -p ~/android - ndk - r23b
        chmod -R 777 ~/android - ndk - r23b
        aria2c -o android-ndk-r23b-linux.zip https://dl.google.com/android/repository/android-ndk-r23b-linux.zip
        if [ -f android-ndk-r23b-linux.zip ]; then
          unzip -q -d ~/android - ndk - r23b android-ndk-r23b-linux.zip
        else
          echo "The downloaded file was not found. Aborting unzip."
        fi

    - name: Build
      run: |
        mkdir build
        cd build
        cmake ..
        make

    - name: Push wrapper to Gitee
      env:
        GITEE_TOKEN: ${{ secrets.GITEE_TOKEN }}
      run: |
        if [ -f wrapper ]; then
          git config --global user.name 'kimycai'
          git config --global user.email 'your_email@example.com'

          if [ -d amdl-web-manager ]; then
            cd amdl-web-manager
            git pull origin master
          else
            git clone https://kimycai:${GITEE_TOKEN}@gitee.com/kimycai/amdl-web-manager.git || {
              mkdir amdl-web-manager
              cd amdl-web-manager
              git init
              git remote add origin https://kimycai:${GITEE_TOKEN}@gitee.com/kimycai/amdl-web-manager.git
            }
          fi

          cp ../wrapper .
          chmod +x wrapper
          git add wrapper
          git commit -m "Add wrapper file from build. ${{ github.event.inputs.reason }}"
          git push origin master
        else
          echo "wrapper执行文件未找到，无法推送。"
        fi
